
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Function to check if the user is an admin based on custom claims
    function isAdmin() {
      return request.auth != null && request.auth.token.role == 'admin';
    }

    // Owner image can be read by anyone, but only written by an admin.
    match /owner/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Traffic sign images can be read by anyone, but only written by an admin.
    match /trafficSigns/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
