rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access to the 'owner' folder for any authenticated user.
    // The admin UI is the gatekeeper for who can upload.
    match /owner/{allPaths=**} {
      allow read, write: if request.auth != null;
    }

    // Allow read and write access to the 'trafficSigns' folder for any authenticated user.
    // The admin UI is the gatekeeper for who can upload.
    match /trafficSigns/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
